<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
</head>
<body>
    <div id="divL"> 
        <h1>Listado de Animales</h1>
        <a href="{%url 'rPerro'%}"><img src="{%static 'images/perro.jpg'%}"></a>
        <a href="{%url 'rGato'%}"><img src="{%static 'images/gato.jpeg'%}"></a>
        <a href="{%url 'rCaballo'%}"><img src="{%static 'images/caballo.png'%}"></a>
    </div>
</body>
</html>