<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
</head>
<body>
    <div id="divT"> 
        <h1>{{nombre}}</h1>
        <img id="imgT" src="{%static 'images/'%}{{imagen}}">
        <p>{{descripcion}}</p>
        <p>{{valoracion}}</p>
        <a href="{%url 'rListado'%}">Volver</a>
    </div>
</body>
</html>